---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_UPDATE_TITLE,
  MY_EMAIL,
  MY_LINKEDIN,
  MY_GITHUB,
} from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>
        🦛 Hello from <span class="underline">LinHeMa!</span>
      </h1>
      <p>
        Welcome to the README file for {SITE_TITLE}, a space where I, LinHeMa,
        share my journey, insights, and experiences as a Frontend Developer.
        This blog is a reflection of my professional work and personal
        interests, particularly in React, Vue, and of course, my love for
        coffee.
      </p>
      <p>
        {SITE_TITLE} is designed to be more than just a blog; it's a portfolio of
        my skills, a diary of my learning, and a platform to connect with like-minded
        individuals. Through this blog, I aim to:
      </p>
      <ul class="pl-6 list-decimal mb-2">
        <li>Share detailed write-ups on React and Vue projects.</li>
        <li>Discuss the latest trends in frontend development.</li>
        <li>Offer tutorials and guides for aspiring developers.</li>
        <li>Review coffee varieties and share my favorite coffee spots.</li>
      </ul>
      <h3>About Me</h3>
      <section class="pl-2">
        <p><strong>Name:</strong> LinHeMa</p>
        <p><strong>Profession:</strong> Frontend Developer</p>
        <p>
          <strong>Skills:</strong> React, Vue, JavaScript, HTML, CSS(SCSS), TypeScript
        </p>
        <p>
          <strong>Hobbies:</strong> Exploring coffee culture, blogging, web development,
          skateboarding, gym rats
        </p>
      </section>
      <h3>Connect with Me</h3>
      <section class="pl-2">
        <p>
          <strong>Email:</strong>
          <a href=`mailto:${MY_EMAIL}`>{MY_EMAIL}</a>
        </p>
        <p><strong>LinkedIn:</strong> <a href={MY_LINKEDIN}>LinkedIn</a></p>
        <p><strong>GitHub:</strong> <a href={MY_GITHUB}>GitHub</a></p>
      </section>

      <p>
        Thank you for visiting my blog. Dive in, explore, and let's share our
        passion for frontend development and coffee!
      </p>

      <hr />
      <p>
        <em
          >This README is a living document and may be updated as the blog
          evolves and grows.</em
        >
      </p>
      <p><em>Last Updated: {SITE_UPDATE_TITLE}</em></p>
    </main>
    <Footer />
  </body>
</html>
